.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    display: none;
}

.modal-iner {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: royalblue;
    padding: 20px;
    padding-top: 50px;
}

.post-title {
    width: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.5em;

}

.post-body {
    width: 250px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
}

.add-new-post {
    height: 35px;
    width: 100px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    background: green;
}