.navbar {
    margin: 0;
    padding: 15px;
    display: flex;
    flex: 3 1 auto;
    justify-content: space-around;
    background: darkseagreen;
    height: 85px;
    position: fixed;
    width: 100vw;
}

.navbarleft {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbarleft h1 {
    margin: 45px;
}

.navbarright {
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo {
    height: 100px;
}

.user {
    height: 50px;
    margin-left: 20px;
}

.search-btn {
    height: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-120%, 1px);
}

.search-box {
    align-items: center;
    position: absolute;
}

.search-txt {
    border: none;
    border-radius: 15px;
    float: left;
    height: 50px;
    width: 0px;
    transition: 0.5s;
    background: none;
}

.search-box:hover>.search-txt {
    background: white;
    width: 300px;
}

.search-box:hover>.search-btn {
    background: white;
}