.user-avatar{
    height: 20px;
    margin-right: 5px;
}
.upvote{
    height: 30px;
    transition: 0.5s;
}
.upvote:hover{
    box-shadow: 0px 0px 8px 8px rgba(25,255,91,0.7);
}

.downvote{
    height: 30px;
    transition: 0.5s;
}

.downvote:hover{
    box-shadow: 0px 0px 8px 8px rgba(255,8,8,0.7);
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 15px;
}
.post-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
}
.post-header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
}
.post-info{
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-left: 20px;
}
.user{
display: flex;
align-items: center;
}
.post-title{
    margin: 0px;
    width: auto;
}
.rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-rating{
margin: 0px;
}
.nickname{
    margin: 0px;
}
.post-body{
    padding: 10px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
}